*{
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(45deg,red,blue,green,black);
  background-size: 400% 400%;
  position: relative;
  animation: cambiar 10s ease-in-out infinite;
}

@keyframes cambiar{
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
}

.calc-buttons{
  display:flex;
  flex-flow: column;
  margin-top:5px;
}
.calc-buttons-row{
  display:flex;
  background-color:red;
  display:row;
  justify-content: space-between;
  margin-top:15px;
}
.calc-buttons-btn{
    width: 65px;
    height: 65px;
    border-radius: 0.1cm;
    background-color: #e6e6e6;
    display: flex;
    flex-flow: column;
    padding: 5px;
    font-size: 2.3rem;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px -1px 0px 1px #d8d8d8;
    margin-right: 15px;
    cursor: pointer;
    border: solid 1px #c1c1c1;
}
#help:active{
  box-shadow: -1px -2px 2px 1px #424242;  
}
.calc-buttons-btn:active{
  outline:solid 2px lightblue;
  box-shadow: -1px -1px 2px 1px #8e8e8e;
  box-shadow: -1px -2px 2px 1px #424242;
}
.prep{
  background:-webkit-linear-gradient(left top, rgba(0, 0, 255, 0.2), rgba(0,0,255,0.5));
}
.table{
  width: max-content !important;
  min-height: 100% !important;
  max-width: 1500px !important;
}
.table td{
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.modal-body p, .modal-body li{
  font-size: 16px;
}
/*.oper{
 
}*/
.ctrl{
  background-color: #e6e6e6;

}
#resultadoT{

  max-height:400px;
  display:block;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
}
td.title{
  font-size: 24px;
  font-weight: bold;
}
td{
  color: black;
  font-family: 'Segoe UI';
  font-size: 20px;
  text-align: center;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}
td:first-child, td:last-child{
  border-left: none;
  border-right: none;
}
tr:first-child>td{
  border-top: none !important;
}
tr:last-child>td{
  border-bottom: none !important;
}

#calculator {
  border:none !important;
  border-radius:0px;
  padding:0px;
  width:270px;
  height:345px;
  color:#464646;
  background-color:#EEEEEE;
  background: transparent;
  border-radius:9px;
  cursor:default;
}
/*#calc_container {
  width:270px;
  height:345px;
  background-color:#EEEEEE;
  border-radius:12px;
  border:2px solid #EEEEEE;
  border-top:1px solid #EEEEEE;
  border-left-color:#DDDDDD;
  border-right-color:#CCCCCC;
  border-bottom-color:#AAAAAA;
  border-bottom-width:3px;
  margin:auto;
  padding:0px;
  margin-top:15px;
  margin-bottom:5px;
  box-shadow:5px 8px 8px rgb(50,50,50);
}*/
#table_header {
  text-align:center;
  font-weight:normal;
  cursor:default;
}
#calculator td {
  height:14.3%;
  border: none !important;
}
#calc_td_display {
  text-align:center;
}
#display {
  color:#e60c0c; /*Colores de la pantalla de la interfaz*/
  width:96%;
  height:50px !important;
  text-align:left;
  padding:5px;
  vertical-align:middle;
  font-size:20px;
  font-family:VT323, monospace;
  margin-bottom:10px;
  border-radius:4px;
  background:#c7b6b0; /* old browsers */
  background:-moz-linear-gradient(-45deg, #C7C7B0 0%, #29b8e5 50%, #BCBC9F 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, right bottom, color-stop(0%,#C7C7B0), color-stop(50%,#C7C7B0), color-stop(100%,#bce0ee)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(-45deg,  #C7C7B0 0%,#C7C7B0 50%,#BCBC9F 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(-45deg, #C7C7B0 0%,#C7C7B0 50%,#BCBC9F 100%); /* Opera 11.10+ */
  background:-ms-linear-gradient(-45deg, #C7C7B0 0%,#C7C7B0 50%,#BCBC9F 100%); /* IE10+ */
  background:linear-gradient(120deg, #C7C7B0 50%, #BCBC9F); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7C7B0', endColorstr='#BCBC9F',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  resize: none;
  }
.calc_td_btn {
  width:25%;
  height:100%;
}
.calc_btn {
  width:60px;
  height:36px;
  -moz-box-shadow:inset 0px 1px 0px 0px #FFFFFF;
  -webkit-box-shadow:inset 0px 1px 0px 0px #FFFFFF;
  box-shadow:inset 0px 1px 0px 0px #FFFFFF;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background:linear-gradient(#EDEDED 50%, #DFDFDF); /* W3C */
  background-color:#ededed;
  /* -webkit-border-top-left-radius:6px; */
  -moz-border-radius-topleft:6px;
  /* -webkit-border-top-right-radius:6px; */
  -moz-border-radius-topright:6px;
  /* -webkit-border-bottom-right-radius:6px; */
  -moz-border-radius-bottomright:6px;
  /* -webkit-border-bottom-left-radius:6px; */
  -moz-border-radius-bottomleft:6px;
  border-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#ce1717; /*Colores de los botones Izq y Der de la interfaz*/
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #FFFFFF;
  margin-bottom:5px;
}
.calc_btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#DFDFDF;
  cursor:default;
}
.calc_btn:active {
  position:relative;
  top:1px;
}
.btn_red_text {
  color:#c0bb30; /*Colores de los botones AC y DEL de la interfaz*/
  font-size:99%;
}
.btn_prop {
  color:#065a0b; /*Colores de las letras de la interfaz*/
  font-size:99%;
}

.btn_purple_text {
  color:rgb(111, 120, 243); /*Colores de los operadores logicos de la interfaz*/
}

.btn_operator {
  color:#1db33b; /*Color del igual de la interfaz*/
}

